.search-bar {
  margin-bottom: 20px;
  display: flex;
}

.search-bar input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #3a7cc3;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #3a7cc3;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #2e62a1;
}
